<section id="products" class="products">
    <div class="section-title" data-aos="fade-up">
        <h2 class="w3-text-black w3-padding">Detalles del Producto</h2>
        <div class="w3-container">
            <div *ngIf="product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 w3-centered">
                            <div>
                                <h1>{{product.name}} <br> </h1>
                                <a>{{product.description}}</a>
                                <h3>${{product.price}} USD</h3>
                            </div>
                            <button class="primary" mat-raised-button (click)="addToCart()">Comprar</button>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img">
                            <img src="{{product.image}}" class="img-fluid animated" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>