<section id="products" class="products">
    <div class="section-title" data-aos="fade-up">
        <h2>Productos</h2>
        <p>Revisa nuestros hermosos productos</p>
    </div>
    <div class="row products-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 products-item filter-web" *ngFor="let product of products; index as productId">
            <div class="products-wrap">
                <img src="{{product.Image}}" class="img-fluid" alt="">
                <div class="products-links">
                    <a [title]="product.name + ' Detalles'" [routerLink]="['/products', productId]"><i class="icofont-link"></i></a>
                </div>
                <div class="products-info">
                    <div class="example">
                        <p>{{product.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
    <h2>Products</h2>

    <div *ngFor="let product of products">

        <h3>
            <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
        </h3>

        <p *ngIf="product.description">
            Description: {{ product.description }}
        </p>
        <p *ngIf="product.price">
            Price: {{product.price}}

            <img src="{{product.Image}}">
    </div>
</div>
-->